engine-strict=true
strict-peer-dependencies=true
auto-install-peers=false
shamefully-hoist=false
link-workspace-packages=true
prefer-frozen-lockfile=true
resolution-mode=highest
enable-pre-post-scripts=false
